
body {
    font-family: Poppins-Regular;
    font-weight: bold;
}

.navbar {
    border: 0px;
}


@font-face {
    font-family: Poppins-Regular;
    src: url("Poppins/Poppins-Light.ttf");
}


a {
    font-size: 16px;
    font-family: Poppins-Regular;
}

.navbar-brand>img {
    width: 91px;
    height: 40px;
    border-radius: 50%;
}

div.nav.navbar-nav.navbar-right {
    background: url("obrazky/facebook_logo.png");
    background-size: cover;
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #bf2966;
}

.navbar-inverse .navbar-nav>li>a {
    color: #020000;
}

a.navbar-brand {
    padding-top: 5px;
    padding-bottom: 0px;
}

.container-fluid {
    width: auto;
}

.container-fluid {
    background-image: linear-gradient(-90deg, #fffeff, #be3b59);
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-inverse .navbar-toggle:hover {
    background-color: #ba163c;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #ba163c;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border : 0px;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height: 200px;
}

/*.navbar {*/
/*    border: 0px;*/
/*}*/

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

