body {
    background-image: url("obrazky/uvod.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 100vh;
    width: 100vw;

}

img {
    /*background-image: url("obrazky/logo_ovalne_velke_hore.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    width: 250px;
    height: 110px;
    /*width: 22vw;*/
    /*height: 18vh;*/
    border-radius: 50%;
    position: absolute;
    top: 150px;
    right: 50%;
    transform: translate(50%);
}
@font-face {
    font-family: ArchitectsDaughter;
    src: url("ArchitectsDaughter-Regular.ttf");
}
p{
    font-family: ArchitectsDaughter;
    color: white;
    text-shadow: 2px 2px 9px #491026;
    font-size: 6vh;
    position: relative;
    top: 280px;
    text-align: center;
}



.buttonEnter {
    /*button sa mi pri načítaní stránky posunie dole, to nechcem,
    chcem aby to už pri otváraní stránky bol
     */
    background-color: #83193566;
    color:white;
    padding: 0.2rem 1.2rem;
    height: 36px;
    transition-duration:0.5s;
    border-radius: 8px;
    font-weight: bolder;
    position: absolute;
    top: 302px;
    right: 50%;
    transform: translate(50%);
    text-shadow: 2px 2px 8px #730e35;
}

.buttonEnter:hover {
    background-color: #5a0e1f;
    color: white;
}